*.dart linguist-language=Dart
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.swift linguist-detectable=false
android/* linguist-vendored
ios/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
web/* linguist-vendored
windows/* linguist-vendored
build/* linguist-vendored
.dart_tool/* linguist-vendored
CMakeLists.txt linguist-detectable=false
